body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 50px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d573);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  
}

.container {
  text-align: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 60%;
}

textarea {
  width: 80%;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.button-container {
  justify-content: space-around;
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  margin:2px 2px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#results {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 10px;
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 400px;
  height: 400px;
  object-fit: cover; /* Ensures the image covers the area without distortion */
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-text {
  width: 400px;
  padding: 10px;
  text-align: center;
  border-top: 5px  solid #ddd;
  box-sizing: border-box; /* Ensures padding is included in the total width and height */
}

.download-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.card:hover .download-btn {
  display: block;
}

/* Loader CSS */
.loader {
  width: 60px;
  height: 60px;
  --c: no-repeat linear-gradient(#046D8B 0 0);
  background: var(--c), var(--c), var(--c), var(--c);
  animation: 
      l9-1 1.5s infinite,
      l9-2 1.5s infinite;
  margin: auto;
  margin-bottom: 20px;
}

@keyframes l9-1 {
  0%   {background-size: 0    4px, 4px 0   }
  25%  {background-size: 40px 4px, 4px 0   }
  45%,
  55%  {background-size: 40px 4px, 4px 42px}
  75%  {background-size: 0    4px, 4px 42px}
  100% {background-size: 0    4px, 4px 0   }
}

@keyframes l9-2 {
  0%,49.9% {background-position: 0  38px               ,18px 18px,100% 18px,right 18px bottom 18px}
  50%,100% {background-position: right 20px bottom 18px,18px 100%,20px 18px,right 18px top 0      }
}

/*Background Gradient Animation*/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}